<section class="about-section py-5 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 mb-4 mb-md-0" data-aos="fade-right">
          <img src="assets/img/aboutus.png" class="img-fluid rounded shadow" alt="Imagen empresa" width="529px">
        </div>
  
        <!-- Texto -->
        <div class="col-md-6" data-aos="fade-left">
          <h2 class="text-center mb-4">Sobre Nosotros</h2>
          <p class="text-justify text-muted">En Inversiones RO, vemos cada proyecto como una oportunidad para crear valor y generar impacto. Somos una sociedad comprometida con la excelencia, la confianza y el crecimiento sostenible. A través de nuestras distintas líneas de negocio, que incluyen el corretaje de propiedades y otras inversiones estratégicas, trabajamos para contribuir al desarrollo de las personas, las familias y el país.</p>
          <hr class="my-4">
          <h3 class="text-center mt-4">Nuestra Misión</h3>
          <p class="text-justify text-muted">Es ofrecer una gestión profesional, cercana y transparente. Con el compromiso de responder a la confianza de nuestros clientes con un servicio personalizado, enfocado en lograr resultados que superen sus expectativas.</p>
          <h3 class="text-center mt-4">Nuestra Visión</h3>
          <p class="text-justify text-muted">Ser la primera opción para quienes buscan asesoría y gestión inmobiliaria, ofreciendo un servicio confiable, cercano y personalizado, respondiendo con profesionalismo y compromiso a quienes confían en nosotros.</p>
        </div>
      </div>
    </div>
  </section>