<footer class="footer-custom" id="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-section">
        <img src="assets/img/LOGO.png" alt="Logo de Inversiones RO" width="260" height="180" class="mb-3">
      </div>
      <div class="col-md-4 footer-section">
        <p><i class="fas fa-phone-alt me-2"></i>+56 9 9093 6613</p>
        <p><i class="fas fa-map-marker-alt me-2"></i>Dirección de prueba, Santiago. Chile</p>
        <p><i class="fas fa-envelope me-2"></i>contacto@inversionesro.cl</p>
      </div>
      <div class="col-md-4 footer-section social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
