<header>
  <div class="bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="bi bi-geo-alt-fill me-2"></i>
        <span class="fw-bold"><small class="text-muted">Dirección de prueba 1234, Santiago, Chile</small></span>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone-fill me-2"></i>
        <span class="fw-bold"><small class="text-muted">+56 9 9093 6613</small></span>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/img/LOGO.png" alt="Logo inversiones RO" width="260" height="180" class="me-2">
      </a>
      <!-- Botón hamburguesa personalizado -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="index.html#nosotros-container">NOSOTROS</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#propiedades-container">PROPIEDADES</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#tuPropiedad-container">ENVÍANOS TU PROPIEDAD</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#experiencias-container">EXPERIENCIAS</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>