<header>
  <div class="bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="bi bi-geo-alt-fill me-2"></i>
        <span class="text-muted">Dirección de prueba 1234, Santiago, Chile</span>
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone-fill me-2"></i>
        <span class="text-muted">Teléfono: +56 9 1234 1234</span>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/img/logo-realstate.png" alt="Logo inversiones RO" width="170" class="me-2">
        <span class="fw-bold"><small class="text-muted">CORREDORES DE PROPIEDADES</small></span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="index.html#nosotros-container">NOSOTROS</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#propidades-container">PROPIEDADES</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#tuPropiedad-container">ENVÍANOS TU PROPIEDAD</a></li>
          <li class="nav-item"><a class="nav-link" href="#contacto">CONTACTANOS</a></li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ACCEDER</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
              <li><a class="dropdown-item" href="#">Registrarse</a></li>
            </ul>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
