<section id="tuPropiedad-section" class="d-flex align-items-center">
    <div class="container py-5">
      <div class="row align-items-center">
        <!-- Columna izquierda: Formulario -->
        <div class="col-lg-6">
          <div class="form-section p-4">
            <form id="contact-form" action="https://formspree.io/f/mzzrgarz" method="POST">
              <div class="text-center">
                <h2 class="mb-4">Formulario de contacto</h2>
              </div>
  
              <div class="row g-3">
                <div class="col-md-12">
                  <label for="nombre" class="form-label">Nombre*</label>
                  <input type="text" name="nombre" class="form-control" id="nombre" required>
                </div>
                <div class="col-md-12">
                  <label for="mail" class="form-label">Correo Electrónico*</label>
                  <input type="email" name="email" class="form-control" id="mail" required>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md-6">
                    <label for="fono" class="form-label">Número de contacto*</label>
                    <input type="tel" name="telefono" class="form-control" id="fono" required>
                  </div>
                <div class="col-md-6">
                  <label for="condicion" class="form-label">Necesitas...</label>
                  <select name="condicion" class="form-select" id="condicion">
                    <option value="">Seleccione</option>
                    <option>Vender</option>
                    <option>Arrendar</option>
                    <option>Solicitar más Información</option>
                  </select>
                </div>
            </div>
              <br>
  
              <div class="col-12">
                <label for="comentarios" class="form-label">Déjanos tus comentarios</label>
                <textarea name="comentarios" class="form-control" id="comentarios" rows="3"></textarea>
              </div>
              <br>
  
              <div class="mt-4">
                <button type="submit" class="btn btn-primary w-100">Enviar Información</button>
              </div>
            </form>
          </div>
        </div>
  
        <!-- Columna derecha: Texto -->
        <div class="col-lg-6">
          <div class="form-background text-center">
            <h2 class="mb-4">¿Quieres Vender o Arrendar tu Propiedad?</h2>
            <h3 class="text-muted">
              No te preocupes, nosotros te asesoramos.<br>
              Déjanos tus datos y pronto nos contactaremos contigo.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>